{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2 mt-2" href="/docs/challenge/about/" role="button">Join the challenge</a>
      <p class="meta">Get ready, get set…</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">

        <div class="col-lg-12 text-center">
          <h2 class="mt-2 mb-5">Get started</h2>
        </div>

        <div class="col-lg-5 mb-3">

        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg>

          <h3 class="h4">AI Dev Challenge</h3>
          <p>Skill yourself up in 30 days and benchmark your progress against friends. It's always better when we learn together! <a href="/docs/challenge/about/">Join the challenge!</a></p>
        </div>

        <div class="col-lg-5 mb-3">

        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg>

          <h3 class="h4">Resources</h3>
          <p>Explore learning resources to increase your understanding of AI and ML concepts and related Azure services. <a href="/docs/learning-resources/resources-for-self-study/">Explore resources!</a></p>
        </div>

        <div class="col-lg-5 mb-3">

        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award"><circle cx="12" cy="8" r="7"></circle><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline></svg>

          <h3 class="h4">Event Badge</h3>
          <p>Grab the AI Developer Challenge badge and share it on social using #CloudSkillsChallenge. <a href="/event-badge/">Get your badge!</a></p>
        </div>

      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center text-center">

      <div class="col-lg-10">
        <h2 class="mt-2 mb-5">Ready to get started?</h2>
        <p>Complete the challenge in time and you will get a chance of winning one of the prizes!</p>
        <a class="btn btn-primary btn-lg px-4 mb-3 mt-2" href="/docs/challenge/about/" role="button">Join the challenge</a>
      </div>

    </div>
  </div>
</section>

<div class="d-flex justify-content-end mt-2">
  <div class="bg-dots bg-dots-md" style="height: 11rem;"></div>
</div>

{{ end }}
